* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("images/im_background.png");
  background-repeat: repeat;
}

header {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.nav-button {
  background-color: #553926;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-family: 'TAN MERINGUE';
  font-size: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #422a1a;
}

@font-face {
  font-family: 'AstonScript';
  src: url('fonts/AstonScript.ttf') format('truetype'),
       url('fonts/AstonScript.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TAN MERINGUE';
  src: url('fonts/TAN MERINGUE.otf') format('opentype'),
       url('fonts/TAN MERINGUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tan-font {
  font-family: 'TAN MERINGUE';
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 35px;
  font-family: 'TAN MERINGUE';
  color: #fff;
  margin-left: 20px;
}

/* Main layout */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.content-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2;
  gap: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box:hover {
  transform: scale(1.05);
}

.description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #d2bb89;
  color: #240901;
  padding: 10px;
  width: 100%;
  font-size: 9px;
  font-family: 'TAN MERINGUE';
}

.scrapbook-images {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
  margin-left: 100 px;
  margin-right: 100 px;
}

.scrapbook-image {
  width: 150px;
  height: 220px;
  transition: transform 0.8s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.scrapbook-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scrapbook-image:hover {
  transform: scale(1.4);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.box.active .description {
  display: block;
}

.model {
  flex: 1;
  background-color: #553926;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-family: 'TAN MERINGUE';
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.model img {
  max-width: 200px;
  height: auto;
  margin-top: 10px;
}

.model:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    align-items: center;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .scrapbook-image {
    width: 150px;
    height: 150px;
  }

  .vertical-text {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
  }

  .description {
    font-size: 12px;
  }
}
